<div class="large-8 medium-8 small-12 large-centered medium-centered small-centered columns">
    <ul>
        <li>{{img}}</li>
        <li>{{name}}</li>
        <li>{{description}}</li>
        <li>{{servings}}</li>
        <li>{{ingredients}}</li>
        <li>{{directions}}</li>
    </ul>
</div>