<div class="cocktailRecipeItem large-8 medium-8 small-12 large-centered medium-centered small-centered columns">
    <ul>
        <li class="cocktailImage">{{img}}</li>
        <li class="cocktailTitle">{{name}}</li>
        <li class="cocktailDescription">{{description}}</li>
        <li class="cocktailServing">makes {{servings}} servings</li>
        <li>
            <span class="titleRecipe">Ingredients:</span>{{ingredients}}</li>
        <li>
            <span class="titleRecipe">Recipe:</span>{{directions}}</li>
    </ul>
    <div class="large-8 medium-8 small-10 large-centered medium-centered small-centered columns">
        <button class="recipeButton">Save Item</button>

<!--
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-type="icon_link"></div>
    </div>
-->
</div>